@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bg-code: #f3f3f3;
  --cyan: rgb(0, 183, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

pre {
  background-color: var(--bg-code);
  border-radius: 5px;
  word-wrap: break-word;
  margin: 10px 0;
  padding: 15px;
  overflow-x: auto;
}

pre::-webkit-scrollbar {
  height: 12px;
}

pre::-webkit-scrollbar-thumb {
  background: #cec7c7; 
  border-radius: 5px;
}

p {
  word-wrap: break-word;
}

main {
  margin-left: 200px;
  width: 75vw;
}

section {
  margin-bottom: 25px;
}

ul {
  list-style-position: inside;
  margin-left: 20px;
  margin-top: 15px;
}

ul li {
  margin: 5px 0;
}

.wrapper {
  display: flex;
  margin: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 1.5rem;
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.title {
  text-align: center;
}

#navbar {
  margin-right: 15px;
  position: fixed;
}

#navbar header {
  color: var(--cyan);
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  font-size: 25px;
  max-width: 50%;
  text-align: center;
  font-weight: 700;
}

.navbar-content-body ul li {
  list-style-type: none;
}

.nav-link {
  transition: all 400ms;
}

.section-content {
  margin: 15px 0;
}

.navbar-content-body ul li a {
  color: black;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.navbar-content-body ul li a:hover{
  color: var(--cyan);
}


@media (max-width: 800px) {
  main {
    margin: 0;
    padding: 0 15px;
    width: 100%;
  }

  #navbar {
    position: static;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #navbar header {
    max-width: 100%;
  }

  .wrapper {
    flex-direction: column;
  }

  .navbar-content-title h2 {
    text-align: center;
  }

  .navbar-content-body ul {
    margin-top: 5 0;
  }

  .navbar-content-body ul li {
    text-align: center;
  }

  .section-title {
    justify-content: center;
  }
}